
.body{
    padding-left: 20px;
    padding-right: 20px;
    font-family:'Times New Roman', Times, serif;
}

.projectBody{
    padding-left: 20px;
    padding-right: 20px;
    font-family:'Times New Roman', Times, serif;
}

.skillsBody{
    display: flex;
    font-family:'Times New Roman', Times, serif;
}

p{
    text-decoration: none;
    font-size: 20px;
}

#pageHeader{
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
}

h1{
    color: black;
    text-align: center;
    font-size: 35px;
}

h2{
    text-align: center;
    font-size: 30px;
}

h3{
    text-align: center;
    color: #000000;
    font-size: 27px;
}

h4{
    text-align: center;
    font-size: 23px;
}

#pageSubHeader{
    color: rgb(156, 154, 154) ;
    text-align: center;
    font-size: 18px;
}

#navTab{
    text-decoration: none;
    color: #1faa70;
}

#navTab:hover{
    text-decoration: none;
    color: #045d38;
}

.navBar{
    margin: auto;
    align-items: center;
}

nav {
    margin: auto;
    width: 90%;
    font-size: 25px;
}

nav ul {
    list-style-type: none;
    margin: auto;
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
}

nav ul li {
    color:rgb(248, 0, 0);
    padding: 24px;
    display: block;
    font-weight: bold;
    font-size: 25px;
}

nav ul a:hover, 
nav ul a:focus {
    color: #025a35;
    font-size: 25px;
    font-weight: bold;
}

.headerImg{
    margin: auto;
    display: block;
    justify-content: center;
    
}

.intro{
    background-color: rgb(215, 242, 239);
    padding: 10px;
}

.introPicAndText{
    display: flex;
}

#introHeading{
    color: #025e47;
    text-align: right;
    font-size: 35px;
}

#introP{
    color: #025e47;
    text-align: left;
    font-size: 30px;
    width: 40%;
    padding-top: 90px;
    padding-left: 110px;
    padding-right: 20px;
}

.footer{
    background-color: #0f6952;
    padding: 10px;
}

.footerPicAndText{
    display: flex;
}

#footerP{
    color:rgb(171, 240, 232);
    padding-top: 50px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 30px;
    width: 40%;
    text-align: right;
}


.jobDiv{
    padding: 15px;
    margin: auto;
    width: 70%;
}

.jobP{
    margin: auto;
    text-align: center;
    width: 60%;
    font-size: 30;
}

.socialfyVideo{
    margin: auto;
}

.socialfyiframe{
    display: block;
    margin: auto;
    justify-content: center;
    padding-top: 20px;
}

.burdockImg{
    margin: auto;
}

.teaLabel{
    padding-top: 20px; 
    margin: auto;
    display: block;
    justify-content: center;
}

.contact{
    text-align: center;
    padding: 20px;
    color:rgb(5, 91, 71);
}

.exp{
    margin: auto;
    padding-left: 300px;
}

.expHeading{
    color: rgb(5, 91, 71);
    font-weight: bold;
    margin: auto;
}

.skillsHeading{
    color: rgb(5, 91, 71);
    font-weight: bold;
    text-align: center;
}

.courseSemester{
    font-weight: bold;
}

.courseDesc{
    width: 40%;
    text-align: center;
    padding: 10px;
}

.skills{
    background-color: #0f6952;
    padding: 10px;
    color: rgb(171, 240, 232);
}

.icon{
    padding: 10px;
}

.slideshow-container {
    position: relative;
    margin: auto;
  }

slider{
    display: block;
    width: 50%;
    height: 90%;
    overflow: hidden;
    position: absolute;
}

slider > * {
    position: absolute;
    display: block;
    width: 50%;
    height: 90%;
    animation: slide 12s infinite;
    overflow: hidden;
}

slide:nth-child(1) {
    left: 0%;
    animation-delay: -1s;
    background-image: url(https://live.staticflickr.com/65535/52105380629_36d819fd17_k.jpg);
    background-size: cover;
    background-position: center;
}

slide:nth-child(2) {
    left: 0%;
    animation-delay: 2s;
    background-image: url(https://live.staticflickr.com/65535/52105635365_c7532cab30_k.jpg);
    background-size: cover;
    background-position: center;
}

slide:nth-child(3) {
    left: 0%;
    animation-delay: 5s;
    background-image: url(https://live.staticflickr.com/65535/52105167993_6e0784fbc8_k.jpg);
    background-size: cover;
    background-position: center;
}

slide p {
    text-align: center;
    display: inline-block;
    font-size: 50px;
}

@keyframes slide {
    0% { left: 100% ; width: 100% ;}
    5% {left: 0%;}
    25% {left: 0%;}
    30% {left: -100%; width: 100%;}
    30.0001% {left: -100%; width: 0%;}
    100% { left: 100%; width: 0%;}
}


 