
.body{
    padding-left: 20px;
    padding-right: 20px;
}

p{
    text-decoration: none;
}

#pageHeader{
    color: black;
    text-align: center;
}

h1{
    color: black;
    text-align: center;
}

h3{
    text-align: center;
    color: #000000;
}

h4{
    text-align: center;
}

#pageSubHeader{
    color: rgb(156, 154, 154) ;
    text-align: center;
}

a:link{
    text-decoration: none;
    color: black;
}

a:visited{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: none;
    color: black;
}

a:active{
    text-decoration: none;
    color: black;
}

.navBar{
    margin: auto;
    align-items: center;
}

nav {
    margin: auto;
    color: #02673d;
    width: 90%;
    font-size: 25px;
}

nav ul {
    list-style-type: none;
    margin: auto;
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
}

nav ul li {
    color: #9e0101;
    padding: 24px;
    display: block;
    font-weight: bold;
    font-size: 25px;
}

nav ul a:hover, 
nav ul a:focus {
    color: #02673d;
    font-size: 25px;
    font-weight: bold;
}

.headerImg{
    margin: auto;
    display: block;
    justify-content: center;
    
}

.intro{
    background-color: rgb(215, 242, 239);
    padding: 20px;
}

#introHeading{
    color: #025e47;
    text-align: left;
    font-size: 35px;
}

#introP{
    color: #025e47;
    text-align: left;
    font-size: 28px;
}

.jobDiv{
    margin: auto;
    width: 60%;
}

.jobP{
    text-align: center;
    width: 60%;
}

.socialfyVideo{
    margin: auto;
}

.socialfyiframe{
    display: block;
    margin: auto;
    justify-content: center;
}

.footer{
    display: flex;
    background-color: #0f6952;
    padding: 20px;
}

#footerP{
    color:rgb(215, 242, 239);
    font-size: 28px;
}

.contact{
    background-color: rgb(215, 242, 239);
    padding: 20px;
}