
.body{
    padding-left: 20px;
    padding-right: 20px;
}

p{
    text-decoration: none;
}

#pageHeader{
    color: rgb(248, 0, 0);
    text-align: center;
    text-decoration: none;
}

h1{
    color: black;
    text-align: center;
}

h3{
    text-align: center;
    color: #000000;
}

h4{
    text-align: center;
}

#pageSubHeader{
    color: rgb(156, 154, 154) ;
    text-align: center;
    font-size: 18px;
}

/* a:link{
    text-decoration: none;
    color: #1faa70;;
}

a:visited{
    text-decoration: none;
    color: #1faa70;;
}

a:hover{
    text-decoration: none;
    color: #025a35;
} */

/* a:active{
    text-decoration: none;
    color: black;
} */

.navBar{
    margin: auto;
    align-items: center;
}

nav {
    margin: auto;
    width: 90%;
    font-size: 25px;
}

nav ul {
    list-style-type: none;
    margin: auto;
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
}

nav ul li {
    color:rgb(248, 0, 0);
    padding: 24px;
    display: block;
    font-weight: bold;
    font-size: 25px;
}

nav ul a:hover, 
nav ul a:focus {
    color: #025a35;
    font-size: 25px;
    font-weight: bold;
}

.headerImg{
    margin: auto;
    display: block;
    justify-content: center;
    
}

.intro{
    background-color: rgb(215, 242, 239);
    padding: 10px;
}

.introPicAndText{
    display: flex;
}

#introHeading{
    color: #025e47;
    text-align: right;
    font-size: 35px;
}

#introP{
    color: #025e47;
    text-align: left;
    font-size: 35px;
    width: 40%;
    padding-top: 300px;
    padding-left: 90px;
    padding-right: 30px;
}

.jobDiv{
    padding: 30px;
    background-color: rgb(245, 245, 245);
    margin: auto;
    width: 70%;
}

.jobP{
    margin: auto;
    text-align: center;
    width: 60%;
    font-size: 25;
}

.socialfyVideo{
    margin: auto;
}

.socialfyiframe{
    display: block;
    margin: auto;
    justify-content: center;
    padding-top: 20px;
}

.footer{
    display: flex;
    background-color: #0f6952;
}

#footerP{
    color:rgb(171, 240, 232);
    padding-top: 300px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 28px;
    width: 40%;
}

.burdockImg{
    padding-top: 20px; 
    display: block;
    justify-content: center;
}

.contact{
    background-color: rgb(215, 242, 239);
    padding: 20px;
}
